body{background-color: #f4f6f8;}
.Wrapper{ width: 100%;float: left; }
.main-container{ width: 90%;float: left;margin: 2% 5% 0%;}
.main-heading{ text-align: left; margin: 2% 0; }
.inner-container{ width: 100%;background: #fff;padding: 2% 2% 27% 2%; margin-top: 2%;}
.pixel-ids-list table tr > th ,tr >td { text-align: center;}
.pixel-ids-list table tr  td .modal-footer{	border-top: none;}
.pixel-ids-list table > thead > tr > th { border-bottom: 1px solid #ddd; }
.checkbox-inline{ font-weight: bold; }
/*Emp ID 96*/
.cursorlink{ cursor:pointer; } 
span.glyphicon.glyphicon-edit { color: green;font-weight: bold; } 
span.glyphicon.glyphicon-trash { color: red;font-weight: bold; } 
.form-group .form-pixel-label{ margin-left: -8px;padding-left: 0; }
.col-md-2.add-textbox {margin-top: 24px;}.lblADD{margin-left: 15px;} 
span.glyphicon.glyphicon-remove.removefield {position: relative;left: 135px;top: -25px; cursor: pointer; }
/*Emp ID 96*/
.appendfield { margin-top: 5%; }
.cmn-toggle {position: absolute; margin-left: -9999px; visibility: hidden; } 
.cmn-toggle + label {display: block; position: relative; cursor: pointer; outline: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 
input.cmn-toggle-round-flat + label {padding: 2px; width: 75px; height: 30px; background-color: #dddddd; -webkit-border-radius: 60px; -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; -webkit-transition: background 0.4s; -moz-transition: background 0.4s; -o-transition: background 0.4s; transition: background 0.4s; } 
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {display: block; position: absolute; content: ""; } 
input.cmn-toggle-round-flat + label:before {top: 2px; left: 2px; bottom: 2px; right: 2px; background-color: #fff; -webkit-border-radius: 60px; -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; -webkit-transition: background 0.4s; -moz-transition: background 0.4s; -o-transition: background 0.4s; transition: background 0.4s; } 
input.cmn-toggle-round-flat + label:after {top: 4px; left: 4px; bottom: 4px; width: 22px; background-color: #dddddd; -webkit-border-radius: 52px; -moz-border-radius: 52px; -ms-border-radius: 52px; -o-border-radius: 52px; border-radius: 52px; -webkit-transition: margin 0.4s, background 0.4s; -moz-transition: margin 0.4s, background 0.4s; -o-transition: margin 0.4s, background 0.4s; transition: margin 0.4s, background 0.4s; } 
input.cmn-toggle-round-flat:checked + label {background-color: #27A1CA; } 
input.cmn-toggle-round-flat:checked + label:after {margin-left: 45px; background-color: #27A1CA; }
.switch{float: right; display: inline-block; vertical-align: middle; text-align: center;}
h1.main-heading.pixel{ display: inline-block; vertical-align: middle; }